.container > div{
    background-color: #fff;
  border: 3px solid whitesmoke;
   
  
}





.container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap:13px ;
    width: 400PX;
    height: 250px;
    position: absolute;
    left: 160px;
    top: 30px;
    bottom: 50px;

    
  

}
.pro1{
    width: 370px;
    height: 230px;
    padding-left: 5%;
}
.pro2{
    width: 370px;
    height: 230px;
    padding-left: 5%;
}
.pro3 {
    width: 370px;
    height: 230px;
    padding-left: 5%;
}
.pro4 {
    width: 370px;
    height: 230px;
    padding-left: 5%;
}
.pro5 {
    width: 370px;
    height: 230px;
    padding-left: 5%;
}
.pro6{
    width: 370px;
    height: 230px;
    padding-left: 5%;
}

.cart {
    background-color: green;
    color: #fff;
    padding: 5px;
    margin-left: 40%;

}